zadanie.txt
homework/index.php
/homework/homework03/output2.json
/homework/homework03/output.json
/homework/homework03/file.csv
/homework/homework04/class.jbdump.php
/graduation/GP1/www/vendor/
/graduation/GP1/www/mail/
/graduation/GP1/www/templates_c/
/homework/homework07/vendor/
/graduation/GP2/vendor/