<html>
    <head>
        <title>
            {% if title is defined %}
            {{ title }}
            {% else %}
            MVC project
            {% endif %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    </head>
    <body>
        
     <div class="container">
<div class="row">
      <div class="column column-100">
          <h1>Model View Controller</h1>
      </div>
</div>
  <div class="row">
      <div class="column column-20">
           {% if menu %}
           <h3>Меню проекта</h3>
   <ul>
        {% for key, link in menu %}
        <li><a href="{{ link }}">{{ key }}</a></li>
        {% endfor %}
    </ul>
            {% endif %}
            {% if name is defined %}
            <p>
                Здравствуйте, {{ name }}!
            </p>
            {% endif %}

            <p>
                <a href="users/quit" class="button">
                    Выйти из системы
                </a>
            </p>
          
          
      </div>
    <div class="column column-80">
    
        {% for key, txt in content %}
        <h3>{{ key }}</h3>
        <div>
            {{ txt|raw }}
        </div>
        {% endfor %}
    
    </div>
  </div>
 {% if error is defined %}
            <div class="row">

                <blockquote>
                    <p><strong>{{ error }}</strong></p>
                </blockquote>

            </div>
            {% endif %}
  
     </div>
    </body>
</html>
